/* SignUp.module.css */


.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%);
}

.card {
  background: #FFFFFF;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
}

.inputField {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: border-color 0.3s;
}

.inputField:hover {
  border-color: #6c5ce7;
}

.dropzone {
  padding: 15px;
  border: 2px dashed #ccc;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
  transition: border-color 0.3s;
}

.dropzone:hover {
  border-color: #6c5ce7;
}

.submitButton, .changeViewButton {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton {
  background-color: #6c5ce7;
  color: white;
}

.submitButton:hover {
  background-color: #3a2fde;
}

.changeViewButton {
  background-color: transparent;
  color: #333;
}

.changeViewButton:hover {
  background-color: #d6e1cc;
}

.formContainer {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .card {
    padding: 20px;
  }

  .inputField, .submitButton, .changeViewButton {
    padding: 12px;
  }
}

/* .successMessage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10; 
  text-align: center;
} */

.generateButton {
  padding: 10px 20px;
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.generateButton:hover {
  background-color: #45a049;
}

.togglePassword {
  background-color: transparent; /* Optional: makes the button background transparent */
  border: none; /* Optional: removes the border */
  color: black; /* Default color of the text */
  cursor: pointer; /* Changes the cursor to indicate it's clickable */
  padding: 5px 10px; /* Adds some padding around the text */
  font-size: 16px; /* Sets the font size */
}

.togglePassword:hover {
  color: #0056b3; /* Darker shade of blue when hovered */
}
